// font
$proxima: "ProximaNova", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #808080;
$c-lightgray: #d3d3d3;
$c-tory-blue: #124691;
$c-beige: #f5f5dc;
$c-anzac: #e29d40;
$c-crimson: #db0f0f;

// width
$w-layout-mb: 360px;
$w-layout-tb: 720px;
$w-layout-dt: 1600px;
$w-site-wrapper-mb: 340px;
$w-site-wrapper-tb: 700px;
$w-site-wrapper-dt: 1152px;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
